body {margin: 0;}

ul.menubar {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color:LightGray;
 
 }
 ul.menubar li {
 float:left;
 }
 ul.menubar li a {
 display: block;
 color: black;
 text-align: center;
 padding: 1.2vw 1.2vw;
 text-decoration: none;
 }

 @media screen and (min-width: 601px) 
{
  ul.menubar li a {
   font-size: 24px;
   font-family: Arial, sans-serif;
  }
}

@media screen and (max-width: 600px) 
{
  ul.menubar li a {
    font-size: 10px;
    font-family: Arial, sans-serif;
  }
}
  
 ul.menubar li a:hover:not(.active) {
   background-color: white;
 }
.active {
  background-color: Aquamarine;
 }
 ul.menubar li.left {
 float: left;
}


.scroll {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
  padding: 0px;
  margin-bottom: 10px;
}

.scroll img {
  padding: 4px;
}


@media screen and (min-width: 601px) 
{
 #center {
   margin-top: 20px; 
   margin-block-start: 45px;
   margin-block-end: 45px;
   text-align: center;
   font-size: 35px;
   font-family: Arial, sans-serif;
  }
}

@media screen and (max-width: 600px) 
{
 #center  {
   margin-top: 20px;
   margin-block-start: 20px;
   margin-block-end: 20px;
   text-align: center;
   font-size: 25px;
   font-family: Arial, sans-serif;
   
  }
}

.responsive  {
 max-width: 100%;
 height: auto;
 margin-top: 20px;
 margin-left: 10px;
 margin-right: -10px;
}


 @media screen and (min-width: 601px) 
{
  .resize {
   font-size: 25px;
   font-family: Arial, sans-serif;
  }
}

@media screen and (max-width: 600px) 
{
  .resize {
    font-size: 13.5px;
    font-family: Arial, sans-serif;
  }
}


.format {
 margin-left: 20px;
 margin-right: 20px;
}

.round {
  border: 6px solid aquamarine;
  border-radius: 40px;
  padding: 10px;
  margin-bottom: 20px;
}

.bold {
 font-weight: bold;
}

.indent {
 text-indent: 20px;
} 
 .solidline {
  border-top: 3px solid black;
 }



